@media (min-width: 768px) {

    .container > .btn {
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
        z-index: 10;
    }

    main {
        padding: 3rem 2rem;
        max-width: 64rem;
    }

    .class-header {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .class-header__text {
        flex: 1;
    }

    .daily-schedule [class$="-schedule"] {
        grid-template-columns: 3.5rem 1fr 1fr auto;
        align-items: center;
    }

    .modal-root {
        padding: 2.5rem;
    }

    .modal-overlay {
        max-width: 32rem;
        padding: 2.5rem;
        margin: 1.375rem auto;
    }

    .modal .input-date-hour {
        grid-template-columns: 1fr 1fr;
    }
}
